ng-map {
  height: 50vh;
  width: 35vw;
  border: 2px lightgrey solid;
  border-radius: 5px;
  margin: 50px 0 0 25px;
}

body {
  background-image: url('http://southerngaragebands.com/rapids.JPG');
  background-size: cover;
  overflow: scroll;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.header {
  width: 100%;
}
.header h1 {
  font-family: arial black;
  font-size: 72px;
  color: #023866;
  margin-left: 50px;
}
.right {
  float: right;
}
.displayList {
  margin-top: 50px;
}
.displayList h1, h3, h4, h5 {
  display: inline-block;
}
.displayOptions span {
  display: block;
}
.cfs {
  color: blue;
}
.show {
  border: 3px red solid;
}
.addRun {
  background-color: #023866;
  color: #fff;
  margin-top: 44px;
  border: 3px #337AB7 solid;
}
.action button:focus, .action button:hover, .modal-footer button:hover {
  color: #fff;
}
.form input {
  margin: 5px;
  border-radius: 3px;
}
.form button {
  display: block;
  margin: 5px 0 0 5px;
  background-color: #337AB7;
  color: #fff;
}
.remove {
  /*float: right;
  /*position: relative;
  left: 80%;*/
}
@media (max-width: 760px) {
  ng-map {
    height: 30vh;
    width: 85vw;
  }
  .addRun {
    margin: auto;
    display: block;
  }
  body {
    overflow: visible;
  }

}
@media (max-width: 480px) {
  .header h1 {
    font-size: 56px;
  }
}
