ng-map {
  height: 44vh;
  width: 60vw;
  border: 2px lightgrey solid;
  border-radius: 5px;
  margin: 50px 0 0 60px;
}

body {
  background-image: url('http://southerngaragebands.com/rapids.JPG');
  background-size: cover;
  /*overflow: scroll;*/
  font-family: 'days one', 'sans-serif';
}

uib-accordion-group button {

}

#move {
  width: 40vw;
  height: 100%;
  margin: 15px 0 25px 60px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.header {
  width: 100%;
}
.header h1 {
  font-size: 76px;
  color: #023866;
  margin-left: 50px;
}

.displayList {
  margin-top: 50px;
}
.displayList h1, h3, h4, h5 {
  display: block;
}
.displayOptions span {
  display: block;
}
.cfs {
  color: blue;
}
.show {
  border: 3px red solid;
}
.addRun {
  background-color: #023866;
  color: #fff;
  margin-top: 44px;
  border: 3px #337AB7 solid;
}
.action button:focus, .action button:hover, .modal-footer button:hover {
  color: #fff;
}
.form input {
  margin: 5px;
  border-radius: 3px;
}
.form button {
  display: block;
  margin: 5px 0 0 5px;
  background-color: #337AB7;
  color: #fff;
}

.bg-info {
  border-radius: 5px;
  margin-top: 15px;
}

@media (max-width: 760px) {
  ng-map {
    height: 30vh;
    width: 85vw;
    margin-left: 25px;
  }
  .addRun {
    margin: auto;
    display: block;
  }
  body {
    overflow: visible;
  }

}
@media (max-width: 540px) {
  .header h1 {
    font-size: 56px;
  }
  ng-map {
    margin-left: 15px;
  }
}
